@page
@model Manalacdave.MidtermExam.Pages.Plugins.ColorpickerModel
@{
}
<div class="col-lg-12 control-section">
    <div id="colorpicker-control">
        <h4>Choose a color</h4>
        <input id="color-picker" type="color">
    </div>
</div>