@page
@model Manalacdave.MidtermExam.Pages.Manage.Columns.IndexModel
@{
}
<h3>Columns</h3>

<div class="search">
    <i class="bi bi-search"></i>
    <input type="text" class="form-control" placeholder="Search" id="search">
</div>

<div class="row">
    <div class="col-3">
        <div class="form-group">
            <label for="">Sort By</label>
            <select class="form-control" id="sortBy" asp-for="View.Columns.SortBy">
                <option value="">choose</option>
                <option value="name">Name</option>
                <option value="description">Description</option>
                <option value="abbreviation">Abbreviation</option>
            </select>
        </div>
    </div>
    <div class="col-3">
        <div class="form-group">
            <label for="">Sort Order</label>
            <select class="form-control" id="sortOrder" asp-for="View.Columns.SortOrder">
                <option value="1">Ascending</option>
                <option value="2">Descending</option>
            </select>
        </div>
    </div>

</div>
<div class="row">
    <div class="col-2">
        <a href="~/manage/columns/create" class="btn btn-primary">Create New</a>
    </div>
</div>


@{
    if (Model.View != null && Model.View.Roles != null && Model.View.Columns.Items != null && Model.View.Columns.Items.Count > 0)
    {
        <table class="table">
            <thead class="thead-dark">
                <tr>
                    <th scope="col">Name</th>
                    <th scope="col">Description</th>
                    <th scope="col">Abbreviation</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                @{
                    foreach (var role in Model?.View?.Columns.Items)
                    {
                        <tr>
                            <th scope="row">@column.Name</th>
                            <td>@column.Description</td>
                            <td>@column.Abbreviation</td>
                            <td>
                                <a href="~/manage/columns/update?id=@role.Id" class="btn btn-primary">
                                    <i class="fa fa-pencil"></i>
                                </a>
                            </td>
                            <td>
                                <a href="~/manage/columns/delete?id=@role.Id" class="btn btn-danger">
                                    <i class="fa fa-times"></i>
                                </a>
                            </td>
                        </tr>
                    }
                }
            </tbody>
        </table>

        <nav aria-label="Page navigation example">
            <ul class="pagination">
                @{
                    if (Model?.View?.Columns.PageIndex > 1)
                    {
                        <li class="page-item"><a class="page-link" href="/manage/columns?pageIndex=@(Model?.View?.Columns.PageIndex-1)&pageSize=@(Model?.View?.Columns.PageSize)&sortBy=@(Model?.View?.Columns.SortBy)&sortOrder=@(Model?.View?.Columns.SortOrder)">Previous</a></li>
                    }

                    <li class="page-item"><span class="page-link">page @Model?.View?.Columns.PageIndex of @Model?.View?.Columns.PageCount (@Model?.View?.Columns.TotalRows total columns)</span></li>


                    if (Model?.View?.Columns.PageIndex < Model?.View?.Columns.PageCount)
                    {
                        <li class="page-item"><a class="page-link" href="/manage/columns?pageIndex=@(Model?.View?.Columns.PageIndex+1)&pageSize=@(Model?.View?.Columns.PageSize)&sortBy=@(Model?.View?.Columns.SortBy)&sortOrder=@(Model?.View?.Columns.SortOrder)">Next</a></li>
                    }
                }
            </ul>
        </nav>
    }
    else
    {
        <div>There are no records to show.</div>
    }
}

@section Scripts
    {
    <script>
        $("#search").keyup(function (event) {
            if (event.keyCode === 13) {
                window.location = "/manage/columns?keyword=" + $("#search").val();
            }
        });

        $("#sortBy").change(function () {
            window.location = "/manage/columns?keyword=@(Model.View.Columns.Keyword)&sortBy=" + $("#sortBy").val() + "&sortOrder=" + $("#sortOrder").val();
        });

        $("#sortOrder").change(function () {
            window.location = "/manage/columns?keyword=@(Model.View.Columns.Keyword)&sortBy=" + $("#sortBy").val() + "&sortOrder=" + $("#sortOrder").val();
        });
    </script>
}